################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Library
/Logs
/obj
/Packages
/ProjectSettings
/Temp
/UserSettings
/.vsconfig
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Hacaton.sln
